@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-weight: 300;
  background-color: #000000;
}