@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-weight: 300;
  background-color: #000000;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navbar {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#heroTitle {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#hero img {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#fitness div h1 {
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#fitness div img {
  animation: fadeInAnimation ease 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#modeling {
  animation: fadeInAnimation ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#equinox {
  animation: fadeInAnimation ease 14s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.theme-color {
  color: yellow;
}

#modeling, #fitness:target { scroll-margin-top: 50px; }

.header--hr-centered {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header--hr-centered:before,
.header--hr-centered:after {
  content: '';
  border-top: 1px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
  color: #ffff00;
}

.header--hr-centered:after {
  margin: 0 0 0 20px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#heroImage {
  animation: 1s ease-out 0s 1 slideInLeft;
  background: #666;
  padding: 40px;
}

/* @media only screen and (max-width: 600px){
  .header--hr-centered:before,
  .header--hr-centered:after {
    margin: 0 10px 0 0;
    flex: 1 0 10px;
  
  }
} */

.footer--link {
  text-decoration: underline;
  text-decoration-color:#ffff00;
}

.button--learn-more {
  background-color: #ffff00;
}  