@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-weight: 300;
  background-color: #000000;
}

.theme-color {
  color: yellow;
}

.header--hr-centered {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header--hr-centered:before,
.header--hr-centered:after {
  content: '';
  border-top: 1px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
  color: #ffff00;
}

.header--hr-centered:after {
  margin: 0 0 0 20px;
}

/* @media only screen and (max-width: 600px){
  .header--hr-centered:before,
  .header--hr-centered:after {
    margin: 0 10px 0 0;
    flex: 1 0 10px;
  
  }
} */

.footer--link {
  text-decoration: underline;
  text-decoration-color:#ffff00;
}

.button--learn-more {
  background-color: #ffff00;
}  